{% extends "base.html" %}
{% block title %}Mi perfil{% endblock %}
{% block content %}
<div class="max-w-lg mx-auto bg-white rounded-2xl shadow p-8">
  <h1 class="text-2xl font-bold mb-4">Mi perfil</h1>

  <form method="post" action="/perfil" class="space-y-4">
    <dl class="grid sm:grid-cols-2 gap-3 text-sm">
      <div><label class="bg-slate-50 rounded-lg p-3">Nombre</label><input name="nombre" value="{{ user.nombre }}" required class="w-full border rounded-lg px-3 py-2"></div>
      <div><label class="bg-slate-50 rounded-lg p-3">Apellido</label><input name="apellido" value="{{ user.apellido }}" required class="w-full border rounded-lg px-3 py-2"></div>
      <div class="bg-slate-50 rounded-lg p-3"><dt class="text-slate-400">Email</dt><dd class="font-medium">{{ user.email }}</dd></div>
      <div class="bg-slate-50 rounded-lg p-3"><dt class="text-slate-400">DNI</dt><dd class="font-medium">{{ user.dni }}</dd></div>
      {% if user.carrera != None%}
        <div class="bg-slate-50 rounded-lg p-3"><dt class="text-slate-400">Carrera</dt><dd class="font-medium">{{ user.carrera.tipo.nombre}} {{ user.carrera.nombre}}</dd></div>
      {% endif %}
    </dl>
    <button class="bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg px-5 py-2 font-medium">Guardar</button>
  </form>


</div>
{% endblock %}
